@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"); /* got the Poppins Font from google can cahnge if you want*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
h1, h2 {
    font-family: sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex_space {
    display: flex;
    justify-content: space-between;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.primary-btn {
  padding: 15px 40px;
  background: #ff523b;
  font-weight: bold;
  color: white;
}

.secondary-btn {
  padding: 15px 40px;
  background: none;
  border: 2px solid white;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 85%;
  margin: auto;
}

/*--------header stuff---------*/
header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
}

header img {
  margin: 20px 0;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #000;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: #ff523b;
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

header .navlinks span {
  display: none;
}