
.signup-section {
    width: 100%;
    padding: 80px 0;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
}


.signup-box {
    background: #fff;
    width: 420px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.12);
    font-family: 'Poppins', sans-serif;
}

.signup-box h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
}


.signup-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}


.signup-btn {
    width: 100%;
    padding: 12px;
    background: #ff523b;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.or {
    text-align: center;
    margin: 18px 0;
    color: #666;
}

.google-btn {
    width: 100%;
    padding: 12px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.google-btn i {
    margin-right: 8px;
}


.signin-link {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.signin-link a {
    color: #ff523b;
    font-weight: 600;
}
